@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

:root {
  --bouncy: cubic-bezier(0.67, -0.12, 0.4, 1.2);
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  @apply fixed z-50 top-0 left-0 h-[2px] rounded-full bg-white;

  transition: width 1s var(--bouncy), color 0.3s var(--bouncy);
}

.loader.loading {
  animation: loading 3s var(--bouncy) forwards;
}

@keyframes loading {
  0% {
    @apply w-0;
  }
  30% {
    @apply w-[60vw];
  }
  70% {
    @apply w-[60vw];
  }
  100% {
    @apply w-[80vw];
  }
}

.loader.complete {
  @apply w-screen;
  animation: none;
}

.dump {
  position: relative;
}

.dump.confirm-delete {
  @apply border-none;
}

.psuedo-dump {
  @apply absolute top-[50%] left-[50%] w-full h-full -translate-x-1/2 -translate-y-1/2 pointer-events-none rounded-md opacity-0;

  transition: all 0.5s var(--bouncy);
}

.dump.confirm-delete .psuedo-dump {
  @apply top-[15%] left-[50%] w-[15px] h-[15px] bg-border rounded-full;

  animation: ball 0.5s ease-in-out forwards;
}

@keyframes ball {
  to {
    opacity: 1;
  }
}

.bin {
  @apply relative z-50;

  transition: all 0.3s ease, background-color 0s;
}

.bin.confirm {
  transform: translate(var(--x), var(--y)) scale(2);

  pointer-events: none;
}

.lid.open {
  transform: rotate(135deg);
}

.lid {
  transform-origin: bottom right;

  translate: 0 1px;

  transition: transform 0.3s var(--bouncy);
}

.confirm-btn-y, .confirm-btn-n {
  @apply px-3 py-1 rounded-full text-sm scale-0;

  transition: background-color 0.3s, color 0.3s, transform 0.3s var(--bouncy);
}

.confirm-btn-y.on, .confirm-btn-n.on {
  @apply scale-100;
}

.confirm-btn-y:hover {
  @apply bg-destructive/20 text-destructive;
}

.confirm-btn-n:hover {
  @apply bg-primary/20 text-primary;
}
