.main {
    width: 80%;
    min-height: 80%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.main:before {
    background: radial-gradient(circle,
            rgba(24, 13, 3, 0) 0,
            var(--background) 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 55%;
    top: 0;
}

.main:after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 55%;
    top: 0;
    opacity: 0.3;
    filter: invert(1);
}

.content {
    height: fit-content;
    z-index: 10;
    width: 100%;
    max-width: 50%;
    background-image: radial-gradient(at 27% 37%,
            rgb(253, 58, 224) 0px,
            transparent 0%),
        /* radial-gradient(at 97% 21%, rgba(196, 23, 248, 0.608) 0px, transparent 50%), */
        /* radial-gradient(at 52% 99%, rgb(72, 0, 121) 0px, transparent 50%),
        radial-gradient(at 10% 29%, rgb(75, 78, 138) 0px, transparent 50%),
        radial-gradient(at 97% 96%, rgb(20, 0, 136) 0px, transparent 50%), */
        radial-gradient(at 33% 50%, rgb(105, 143, 234) 0px, transparent 50%),
        radial-gradient(at 79% 53%, rgb(169, 91, 217) 0px, transparent 50%);


    position: absolute;
    content: "";
    width: 100%;
    height: 55%;
    filter: blur(100px) saturate(150%);
    opacity: 0.88;
}

.dark .main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #0f0215 100%);
}